# ZALO OAUTH VARS
NEXT_PUBLIC_ZALO_APP_ID=
NEXT_PUBLIC_ZALO_REDIRECT_URI=http://localhost:3000/api/auth/zalo/callback
ZALO_APP_SECRET=

# FIREBASE ADMIN VARS
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIB... (GIỮ NGUYÊN DẤU \n TRONG CHUỖI NÀY)\n-----END PRIVATE KEY-----\n"
